<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    

    <bean name="mainFrame" class="pl.exsio.ck.main.view.MainFrame">
        <property name="logPanel" ref="logPanel"/>
        <property name="visible" value="true"/>
    </bean> 
    
    <bean name="logPanel" class="pl.exsio.ck.logging.view.LogPanel">
    </bean>
    
    <bean name="progressFrame" class="pl.exsio.ck.progress.view.ProgressFrame">
        <property name="visible" value="false"/>
    </bean>
    
    <bean name="browserFrame" class="pl.exsio.ck.browser.view.BrowserFrame" scope="prototype">
    </bean>

    <bean name="entryTablePresenter" class="pl.exsio.ck.entrytable.presenter.EntryTablePresenterImpl" scope="prototype">
        <property name="view">
            <bean class="pl.exsio.ck.entrytable.view.EntryTablePanel"/>
        </property>
    </bean>
    
    <bean name="serialTablePresenter" class="pl.exsio.ck.serialtable.presenter.SerialTablePresenterImpl" scope="prototype">
        <property name="view">
            <bean class="pl.exsio.ck.serialtable.view.SerialTablePanel"/>
        </property>
    </bean>
    
    <bean name="entryEditorPresenter" class="pl.exsio.ck.editor.presenter.EntryEditorPresenterImpl" scope="prototype">
        <property name="view">
            <bean class="pl.exsio.ck.editor.view.EntryEditorFrame"/>
        </property>
    </bean>
    
    <bean name="mainPresenter" class="pl.exsio.ck.main.presenter.MainPresenterImpl">
        <property name="view" ref="mainFrame" />
        <property name="entryComparator" ref="entryComparator"/>
        <property name="entryImporter" ref="entryImporter"/>
        <property name="dao" ref="entryDao"/>
        <property name="reader" ref="entryReader"/>
    </bean> 
    
    <bean name="logPresenter" class="pl.exsio.ck.logging.presenter.LogPresenterImpl">
        <property name="view" ref="logPanel" />
    </bean> 
    
    <bean name="progressPresenter" class="pl.exsio.ck.progress.presenter.ProgressPresenterImpl"  scope="prototype">
        <property name="view" ref="progressFrame" />
    </bean> 
    
    <bean name="entryDao" class="pl.exsio.ck.model.dao.EntryDaoImpl">
        <constructor-arg ref="logPresenter"/>
        <constructor-arg value="jdbc:sqlite:database.db"/>
    </bean> 
    
    <bean name="entryImporter" class="pl.exsio.ck.importer.EntryImporterImpl">
        <property name="log" ref="logPresenter"/>
        <property name="dao" ref="entryDao"/>
        <property name="reader" ref="entryReader"/>
    </bean>
    
    <bean name="entryComparator" class="pl.exsio.ck.comparator.EntryComparatorImpl">
        <property name="log" ref="logPresenter"/>
        <property name="dao" ref="entryDao"/>
        <property name="reader" ref="entryReader"/>
    </bean>
    
    <bean name="entryReader" class="pl.exsio.ck.model.reader.XlsxEntryReaderImpl">
        <property name="log" ref="logPresenter"/>
    </bean>
</beans>